.info {
  display: grid;
  grid-template-columns: 60% auto;
}

.articles {
  margin: 10px 0 5px;
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 500;
}

.articlesContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
