.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: #fbf9f9;
  display: flex;
  justify-content: space-around;
}

.text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
